<div>
    <ul class="opciones">
        <li *ngIf="logeado && perfil == 'admin'">Menu 1 Admin</li>
        <li *ngIf="logeado && perfil == 'admin'">Menu 2 Admin</li>
        <li *ngIf="logeado && perfil == 'experto'">Menu 1 Experto</li>
        <li *ngIf="logeado && perfil == 'experto'">Menu 2 Experto</li>
        <li *ngIf="logeado" class="derecha">{{nombre}} <button (click)=logout()>LOGOUT</button></li>
        <li *ngIf="!logeado" class="derecha"><button (click)=login()>LOGIN</button></li>
    </ul>
</div>