<nav class="navbar">
  <ul class="nav-links">
    <li><a (click)="navigateTo('/inicio')">Inicio</a></li>

    <li *ngIf="logeado && role === 'ROLE_ADMIN' || logeado && role === 'ROLE_EXPERTO'">
      <a (click)="navigateTo('/especialidades')" class="nav-link">Especialidades</a>
    </li>
    <li *ngIf="logeado && role === 'ROLE_ADMIN'">
      <a (click)="navigateTo('/expertos')" class="nav-link">Expertos</a>
    </li>
    <li *ngIf="logeado && role === 'ROLE_ADMIN'">
      <a (click)="navigateTo('/ganadores')" class="nav-link">Ganadores</a>
    </li>
    <li *ngIf="logeado && role === 'ROLE_EXPERTO'">
      <a (click)="navigateTo('/miespecialidad')" class="nav-link">Mi Especialidad</a>
    </li>
    <li *ngIf="logeado && role === 'ROLE_EXPERTO'">
      <a (click)="navigateTo('/alumnos')" class="nav-link">Mis Alumnos</a>
    </li>
  </ul>

  <div class="auth-buttons">
    <ng-container *ngIf="!logeado">
      <button class="login" (click)="login()">Iniciar Sesión</button>
    </ng-container>

    <ng-container *ngIf="logeado">
      <span>{{ username }}</span>
      <button class="logout" (click)="logout()">Logout</button>
    </ng-container>
  </div>
</nav>
